html, body {
  overflow-x: hidden !important;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f8f4ed !important;

}

.App {
  text-align: center;
  background-color: #f8f4ed;
  margin-top: -70px;
  margin-left: -30px;
  margin-bottom: -700px !important;
}
