/* Reset default margins/paddings and set box-sizing */
html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-size: 10px; /* Basisgröße für rem */
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* Define Global Variables */
:root {
  --title-font: 'Instrument Serif', serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.test{
  height: 0.1rem;
}
/* Global Font Settings */
body {
  font-family: 'Chilanka', 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 4rem; /* Anpassung an Basisgröße */
  font-weight: normal;
}

/* Main Container */
.container-main {
  background-color: #e0ddd7;
  width: 100vw;
  margin-left: 3rem;
  margin-top: 7rem;
  padding: 0;
}

/* Section Styling */
section {
  margin: 0;
  padding: 0;
  width: 100vw;
}

/* Image Styling */
img {
  border-radius: 1rem;
  max-width: 100%;
  display: block;
  margin: 0;
}


/* Utility class for centered text content */
.text-content {
  z-index: 2;
  text-align: center;
  color: white;
}

/*##################################################################*/
/*Popup start*/

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Dunkler, transparenter Hintergrund */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ganz oben */
}

/* Das eigentliche Popup */
.popup {
  background: #e0ddd7;
  padding: 20px;
  width: 98vw;
  height: 98vh;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
}

/* Schließen-Button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: black;
}

.close-btn:hover {
  color: red;
}

/* Einfache Animation für das Popup */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: scale(0.9);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}

/*Popup ende*/
/*##################################################################*/

